{% load static %}

<section id="about" class="about">
    <div class="boxed col-10">
        <img class="pbox" src="{% static 'core/images/person.jpg' %}" align="right">
        <div class = "tbox col-7 p-5">
            <div class="section-title">
                <h2>About ME</h2>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque lacinia sed lacus eget venenatis. Sed a ultricies nisi. Sed pulvinar felis ut est mollis suscipit. Vivamus eleifend pulvinar nisi, non pharetra eros semper at. Aenean commodo blandit tortor, quis lacinia arcu viverra vitae. Etiam porttitor sit amet purus et congue. Etiam ultricies scelerisque lectus, eget egestas tellus semper imperdiet. Vivamus consequat odio eros, vitae sodales odio iaculis sed.</p>
            <p>uspendisse ultrices gravida aliquam. Integer id lacinia mi. Praesent urna lacus, scelerisque vel augue eget, cursus interdum neque. Proin sit amet nisl non ipsum mollis pharetra. Fusce non lorem euismod, blandit nisl vitae, pharetra leo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut molestie lacus vel dui maximus, et molestie augue pulvinar. Nunc mollis nisl ut varius congue. Donec eget aliquet nisi.</p>    
        </div>
    </div>
</section>
