{% load static %}
<section id="contact" class="contact m-5">
  <div class="section-title">
    <h2>Contact</h2>
    <p>Don't think too much just send me a message but it won't reach me &#128517</p>
  </div>
  <div>
    <div class="xrow">
      <div class="xcolumn">
        <form action="/action_page.php">
          <label for="fname">Your Name</label>
          <input type="text" id="fname" name="firstname" placeholder="Aladdin x Jasmine">
          <label for="lname">Email</label>
          <input type="text" id="lname" name="lastname" placeholder="example.gmail.com">
          <label for="subject">Message</label>
          <textarea id="subject" name="subject" placeholder="Write something.." style="height:140px"></textarea>
          <input type="submit" value="Submit">
        </form>
      </div>
    </div>
  </div>
</section>