{% load static %}

<div>
    <!-- Footer -->
    <footer class="text-center text-white" style="background-color: #3f51b5">
      <!-- Grid container -->
      <div>
        <!-- Section: Links -->
        <section>
          <!-- Grid row-->
          <div class="row text-center d-flex justify-content-center">
            <!-- Grid column -->
            <div class="col-md-2">
              <h6 class="text-uppercase font-weight-bold">
                <a href="/" class="text-white">Home</a>
              </h6>
            </div>
            <!-- Grid column -->
  
            <!-- Grid column -->
            <div class="col-md-2">
              <h6 class="text-uppercase font-weight-bold">
                <a href="#about" class="text-white">About</a>
              </h6>
            </div>
            <!-- Grid column -->
  
            <!-- Grid column -->
            <div class="col-md-2">
              <h6 class="text-uppercase font-weight-bold">
                <a href="#resume" class="text-white">Resume</a>
              </h6>
            </div>
            <!-- Grid column -->
  
            <!-- Grid column -->
            <div class="col-md-2">
              <h6 class="text-uppercase font-weight-bold">
                <a href="#project" class="text-white">Project</a>
              </h6>
            </div>
            <!-- Grid column -->
  
            <!-- Grid column -->
            <div class="col-md-2">
              <h6 class="text-uppercase font-weight-bold">
                <a href="#contact" class="text-white">Contact</a>
              </h6>
            </div>
            <!-- Grid column -->
          </div>
          <!-- Grid row-->
        </section>
        <!-- Section: Links -->
  
        <hr/>
  
        <!-- Section: Social -->
        <section class="text-center">
          <a href="" class="text-white me-4"><i class="fab fa-facebook-f"></i></a>
          <a href="" class="text-white me-4"><i class="fab fa-twitter"></i></a>
          <a href="" class="text-white me-4"><i class="fab fa-google"></i></a>
          <a href="" class="text-white me-4"><i class="fab fa-instagram"></i></a>
          <a href="" class="text-white me-4"><i class="fab fa-linkedin"></i></a>
          <a href="" class="text-white me-4"><i class="fab fa-github"></i></a>
        </section>
        <!-- Section: Social -->
      </div>
      <!-- Grid container -->
  
      <!-- Copyright -->
      <div
           class="text-center p-3"
           style="background-color: rgba(0, 0, 0, 0.2)"
           >
        © 2022 Copyright:
        <a class="text-white" href="https://abdussalam.herokuapp.com/"
           >Abdus Salam</a
          >
      </div>
      <!-- Copyright -->
    </footer>
    <!-- Footer -->
  </div>
  <!-- End of .container -->
