{% load static %}
<section id="project" class="project portfolio-mf sect-pt4 route m-5">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="section-title">
            <h2>Projects</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="work-box">
            <a href="{% static 'core/images/website.png' %}" data-gallery="portfolioGallery" class="portfolio-lightbox">
              <div class="work-img">
                <img src="{% static 'core/images/website.png' %}" alt="" class="img-fluid">
              </div>
            </a>
            <div class="work-content">
              <div class="row">
                <div class="col-sm-8">
                  <h2 class="w-title">My Website</h2>
                  <div class="w-more">
                    <span class="w-ctegory">Web Development</span> / <span class="w-date">7 Feb. 2022</span>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="w-like">
                    <a href="portfolio-details.html"> <span class="bi bi-plus-circle"></span></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="work-box">
            <a href="{% static 'core/images/computer.png' %}" data-gallery="portfolioGallery" class="portfolio-lightbox">
              <div class="work-img">
                <img src="{% static 'core/images/computer.png' %}" alt="" class="img-fluid">
              </div>
            </a>
            <div class="work-content">
              <div class="row">
                <div class="col-sm-8">
                  <h2 class="w-title">Selling Computer Components</h2>
                  <div class="w-more">
                    <span class="w-ctegory">Mistech</span> / <span class="w-date">25 Jun. 2021</span>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="w-like">
                    <a href="portfolio-details.html"> <span class="bi bi-plus-circle"></span></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="work-box">
            <a href="{% static 'core/images/stock.png' %}" data-gallery="portfolioGallery" class="portfolio-lightbox">
              <div class="work-img">
                <img src="{% static 'core/images/stock.png' %}" alt="" class="img-fluid">
              </div>
            </a>
            <div class="work-content">
              <div class="row">
                <div class="col-sm-8">
                  <h2 class="w-title">Stock Info</h2>
                  <div class="w-more">
                    <span class="w-ctegory">Python Development</span> / <span class="w-date">8 Aug. 2021</span>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="w-like">
                    <a href="portfolio-details.html"> <span class="bi bi-plus-circle"></span></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="work-box">
            <a href="{% static 'core/images/chart.png' %}" data-gallery="portfolioGallery" class="portfolio-lightbox">
              <div class="work-img">
                <img src="{% static 'core/images/chart.png' %}" alt="" class="img-fluid">
              </div>
            </a>
            <div class="work-content">
              <div class="row">
                <div class="col-sm-8">
                  <h2 class="w-title">Chart Plotting</h2>
                  <div class="w-more">
                    <span class="w-ctegory">Python</span> / <span class="w-date">10 Aug. 2021</span>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="w-like">
                    <a href="portfolio-details.html"> <span class="bi bi-plus-circle"></span></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="work-box">
            <a href="{% static 'core/images/game.png' %}" data-gallery="portfolioGallery" class="portfolio-lightbox">
              <div class="work-img">
                <img src="{% static 'core/images/game.png' %}" alt="" class="img-fluid">
              </div>
            </a>
          <div class="work-content">
            <div class="row">
              <div class="col-sm-8">
                <h2 class="w-title">Fruit Ninja Game</h2>
                <div class="w-more">
                  <span class="w-ctegory">Python</span> / <span class="w-date">27 Jul. 2021</span>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="w-like">
                  <a href="portfolio-details.html"> <span class="bi bi-plus-circle"></span></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="work-box">
          <a href="{% static 'core/images/stock.png' %}" data-gallery="portfolioGallery" class="portfolio-lightbox">
            <div class="work-img">
              <img src="{% static 'core/images/stock.png' %}" alt="" class="img-fluid">
            </div>
          </a>
          <div class="work-content">
            <div class="row">
              <div class="col-sm-8">
                <h2 class="w-title">LearnTube</h2>
                <div class="w-more">
                  <span class="w-ctegory">Web-App</span> / <span class="w-date">18 Sep. 2021</span>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="w-like">
                  <a href="portfolio-details.html"> <span class="bi bi-plus-circle"></span></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <a href="https://github.com/abdussalam02?tab=repositories">More Projects</a>
</section>