{% load static %}
<section id="resume" class="resume m-5">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <h2>Resume</h2>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <h3 class="resume-title">Summary</h3>
          <div class="resume-item pb-0">
            <h4>Abdus Salam</h4>
            <p><em>Innovative and deadline-driven Software Developer with experience in designing and developing user-centered software from initial concept to final, polished deliverable.</em></p>
            <ul>
              <li>Mumbai-400612</li>
              <li>(+91) 7977 64 6886</li>
              <li>iamabdussalam02@gmail.com</li>
            </ul>
          </div>

          <h3 class="resume-title">Education</h3>
          <div class="resume-item">
            <h4>Bachelor of Computer Application</h4>
            <h5>2021 - 2024</h5>
            <p><em>Indira Gandhi National Open University, Delhi</em></p>
            <ul>
              <li>Computer Fundamentals, OS, MS Office</li>
              <li>C,  C++, Data Structure &amp; Algorithm</li>
              <li>Python, Android Business Development</li>
              <li>Data and Database Management Systems</li>
              <li>Web-Based Application Development</li>
              <li>Economics &amp; Business Development</li>
            </ul>
          </div>
          <div class="resume-item">
            <h4>Google Python Professional &amp; IT Automation</h4>
            <h5>2021 - 2022</h5>
            <p><em>Grow with Google, Coursera</em></p>
            <ul>
              <li>Crash Course on Python</li>
              <li>Using Python to Interact with the Operating System</li>
              <li>Introduction to Git and GitHub</li>
              <li>Troubleshooting and Debugging Techniques</li>
              <li>Configuration Management and the Cloud</li>
              <li>Automating Real-World Tasks with Python</li>
            </ul>
          </div>
        </div>
        <div class="col-lg-6">
          <h3 class="resume-title">Skills</h3>
          <div class="resume-item">
            <h4>Frontend</h4>
            <ul>
              <li>Started my Tech Journey by working on frontend at the early stage of 2018</li>
              <li>I have got upstanding experience with HTML5, CSS3, Bootstrap</li>
              <li>Planning is an important aspect for me so first i express my ideas into visualization by using UI/UX Tool like Figma &amp; Canva</li>
            </ul>
          </div>
          <div class="resume-item">
            <h4>Backend &amp; Programming</h4>
            <ul>
              <li>I am learning Data Structure &amp; Algorithm doing Competitive Coding participating in events, workshops and hackathons</li>
              <li>Started Programming with C and moved onto C++ and now Java but mostly Python</li>
              <li>I am explixitly coding myself into Python learning different libraries and Web based frameworks</li>
              <li>Also learned Automating stuffs for fun and Sys Admin role</li>
            </ul>
          </div>
          <div class="resume-item">
            <h4>Cloud &amp; Tools</h4>
            <ul>
              <li>Google Cloud - I have engaged myself in Cloud hands-on-lab Challenges offered by Google and won a lots of SWAGS</li>
              <li>Git &amp; GitHub - Learning Git and maintaining GitHub repository by setting up milestones and also contributing to Open-Source</li>
              <li>Linux - I have worked on several Linux platforms like (Ubuntu, Mint, Kali, Debian, etc.)</li>
              <li>Hardware - I love to dismantle and assemble computer components and i am certified too</li>
            </ul>
          </div>
          <div class="resume-item">
            <h4>Mangement &amp; communication</h4>
            <ul>
              <li>Me and my friends started a business due to finite resources all of the task were taken by ourselves like Managing, Communicating, Dealing, etc.  </li>
              <li>I have been developing my personality since i found out it's value</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <a href="{% static 'abdussalam.pdf' %}">Download Resume</a>
</section>