@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

/*--------------------------------------------------------------
# Body
--------------------------------------------------------------*/

*{
  transition: all 0.2s ease-in-out;
}

body {
  font-family: 'Josefin Sans', sans-serif;
  text-decoration: none;
}

h1 {
  text-decoration: line-through;
  padding-bottom: 10px;
  font-size: 35px;
  color: #5a4040;
}

h3{
  font-style: italic;
  text-transform: capitalize;
  color: #6d5a5a;
}


/*--------------------------------------------------------------
# Sidebar and Navbar
--------------------------------------------------------------*/

.navbar-brand {
  align-items: center;
  margin-left: 30px;
  font-size: 25px;
}

.navbar-toggler {
  background-color: transparent;
  outline: thin;
  margin: 10px;
  font-size: 20px;
}

.collapse a:hover {
  color: #6d5a5a;
}

.collapse i{
  font-size: 17px;
}
.collapse i:hover {
  color: #6d5a5a;
}

.container-fluid i{
  font-size: 17px;
}

.container-fluid a:hover {
  color: #6d5a5a;
}

.container-fluid i:hover {
  color: #6d5a5a;
}

#social-media i{
  font-size: 1.15em;
  padding-left: 7px;
}

#credit {
  margin-top: 11em;
}

#credit i{
  font-size: 1em;
}

#credit i:hover {
  color: #8b0000;
}


/* Animations */

.collapse a{
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.collapse a:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: '';
  top: 100%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 0;
  background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 0%);
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 0%);
  /* W3C */
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform, opacity;
  transition-property: transform, opacity;
}
.collapse a:hover, .collapse a:focus, .collapse a:active {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
    /* move the element up by 5px */
}
.collapse a:hover:before, .collapse a:focus:before, .collapse a:active:before {
  opacity: 1;
  -webkit-transform: translateY(5px);
  transform: translateY(5px);
  /* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */
}

.container-fluid a{
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.container-fluid a:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: '';
  top: 100%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 0;
  background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
  /* W3C */
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform, opacity;
  transition-property: transform, opacity;
}
.container-fluid a:hover, .container-fluid a:focus, .container-fluid a:active {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
  /* move the element up by 5px */
}
.container-fluid a:hover:before, .container-fluid a:focus:before, .container-fluid a:active:before {
  opacity: 1;
  -webkit-transform: translateY(5px);
  transform: translateY(5px);
  /* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
  overflow: hidden;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}
.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: #45505b;
}
.section-title h2::before {
  content: "";
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: #ddd;
  bottom: 1px;
  left: calc(50% - 60px);
}
.section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: #0563bb;
  bottom: 0;
  left: calc(50% - 20px);
}
.section-title p {
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# Home
--------------------------------------------------------------*/

#person{
  display: flex;
  max-width: 80%;
  width: 600px;
  height: auto;
  
}
#person{
  float:right;
  margin-right:15px
}

#intro{
  margin-left:10em;
  margin-top: 8em;
  max-width: 40%;
  
}

@media screen and (min-width:360px) and (max-width:640px ){
  #intro{
    display: inline;
  }
}



/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/

#person1{
  float:right;
  width: 38%;
  margin-left: 30px;
  margin-right: 30px;
}

.boxed {
  padding: 10px;
  padding-bottom: 0;
  border: 5px solid gray;
  margin-left: 100px;
  margin-right:100px;
}

.tbox {
  padding: 4em;
}

.about .section-title {
  margin-left: 8em;
  margin-bottom: 4em;
}

.about .section-title h2{
  position: absolute;
}

@media screen and (min-width:1710px) and (max-width:1920px) {
  #person1 {
    width: 25%;
    margin-left: 4em;
    margin-right: 4em;
  }
  .tbox {
    padding: 5em;
  }
}


@media screen and (min-width:1480px) and (max-width:1700px) {
  #person1 {
    width: 30%;
  }
}


@media screen and (min-width:360px) and (max-width:1000px) {
  #person1{
    display: none;
  }
  .boxed{
    margin: 10px;
  }
  .tbox {
    padding: 5px 10px 5px 10px;
  }
  .about .section-title {
    margin-left: 6em;
    margin-top: 2em;
    margin-bottom: 4em;
  }
}



/*--------------------------------------------------------------
# Resume
--------------------------------------------------------------*/

.resume {
  margin: 20px;
}

@media screen and (min-width:360px) and (max-width:640px) {
  .resume {
  margin: 5px;
  }
}

.resume .resume-title {
  font-size: 26px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #45505b;
}
.resume .resume-item {
  padding: 0 0 20px 20px;
  margin-top: -2px;
  border-left: 2px solid #0563bb;
  position: relative;
}
.resume .resume-item h4 {
  line-height: 18px;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  color: #0563bb;
  margin-bottom: 10px;
}
.resume .resume-item h5 {
  font-size: 16px;
  background: #f7f8f9;
  padding: 5px 15px;
  display: inline-block;
  font-weight: 600;
  margin-bottom: 10px;
}
.resume .resume-item ul {
  padding-left: 20px;
}
.resume .resume-item ul li {
  padding-bottom: 10px;
}
.resume .resume-item:last-child {
  padding-bottom: 0;
}
.resume .resume-item::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50px;
  left: -9px;
  top: 0;
  background: #fff;
  border: 2px solid #0563bb;
}
/*--------------------------------------------------------------
# Portfolio
--------------------------------------------------------------*/
.work-box {
  margin-bottom: 3rem;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background-color: #fff;
}

.work-box:hover img {
  transform: scale(1.3);
}

.work-img {
  display: block;
  overflow: hidden;
}

.work-img img {
  transition: all 1s;
}

.work-content {
  padding: 2rem 3% 1rem 4%;
}

.work-content .w-more {
  color: #4e4e4e;
  font-size: .8rem;
}

.work-content .w-more .w-ctegory {
  color: #800000;
}

.work-content .w-like {
  font-size: 2.5rem;
  color: #800000;
  float: right;
}

.work-content .w-like a {
  color: #800000;
}

.work-content .w-like .num-like {
  font-size: .7rem;
}

.w-title {
  font-size: 1.2rem;
}

/*--------------------------------------------------------------
# Portfolio Details
--------------------------------------------------------------*/
.project {
  margin: 30px;
  padding-top: 40px;
}

.project .project-slider img {
  width: 100%;
}

.project .project-slider .swiper-pagination {
  margin-top: 20px;
  position: relative;
}

.project .project-slider .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  border: 1px solid #800000;
}

.project .project-slider .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #800000;
}

.project .portfolio-info {
  padding: 30px;
  box-shadow: 0 0 30px rgba(78, 78, 78, 0.08);
}

.project .portfolio-info h3 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
}

.project .portfolio-info ul {
  list-style: none;
  padding: 0;
  font-size: 15px;
}

.project .portfolio-info ul li + li {
  margin-top: 10px;
}

.project .portfolio-description {
  padding-top: 30px;
}

.project .portfolio-description h2 {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 20px;
}

.project .portfolio-description p {
  padding: 0;
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 5px;
  resize: vertical;
}

input[type=submit] {
  background-color: #0563bb;
  color: white;
  padding: 12px 50px;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #5598d6;
}

/* Style the container/contact section */
.xcontainer {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 10px;
}

/* Create two columns that float next to each other */
.xcolumn {
  position: relative;
  float: left;
  width: 50%;
  margin-top: 6px;
  left: 25%;
}

/* Clear floats after the columns */
.xrow:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .xcolumn, input[type=submit] {
  width: 100%;
  margin-top: 0;
  }
  .xcolumn {
  left: 0;
  }
}